.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

ul li {
  list-style-type: none;
  text-align: left;
}

.posts-list ul li {
  margin: 20px;
  padding: 0;
}

.posts-list ul li span {
  color: #a2a4a9;
  font-weight: bold;
}


.categories ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.categories ul li {
  margin: 20px;
}