body {
    height: 100%;
    color: #fff;
    background: #000;
}

ul li {
    list-style-type: none;
    text-align: left;
}

button {
    width: 160px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #0004ff;
    outline: 0;
    background: rgba(0, 0, 0, 0);
}

form {
    margin: 20px 0;
}

form input[type='button'] {
    width: 160px;
    height: 40px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    color: #fff;
    border: 1px solid #0004ff;
    background: rgba(0, 0, 0, 0);
}

form input[type='submit'] {
    width: 160px;
    height: 40px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    color: #fff;
    border: 1px solid #0004ff;
    background: rgba(0, 0, 0, 0);
}

form input[type='text'] {
    width: 98%;
    margin-bottom: 20px;
    padding: 10px;
}

form textarea {
    width: 98%;
    height: 100px;
    padding: 10px;
}

form select {
    height: 28px;
    margin: 10px;
    padding: 5px;
}

.main {
    display: flex;
}

.submitBtn {
    font-size: 15px;
    display: inline-flex;
    width: 160px;
    height: 38px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #0004ff;
    justify-content: center;
    align-items: center;
}

.sortBtn {
    float: right;
    transition: .2s;
    border: 1px solid rgb(157, 0, 255);
}

.sortIsActive {
    background: rgb(157, 0, 255);
}

.submit-post {
    position: relative;
    left: 200px;
    width: 100%;
    width: calc(100% - 250px);
    margin: 10px 30px;
}

.vote-icon {
    font-size: 30px;
    cursor: pointer;
}

.categories {
    position: fixed;
    width: 200px;
    height: 100vh;
    border-right: 2px solid #00ffa9;
}

.categories h2 {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: white;
    background: #00ffa9;
}

.categoriesList {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.categoriesList a {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid #00ffa9;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.categoryIsActive {
    background: rgba(0, 255, 169, 1);
}

.posts-list {
    position: relative;
    left: 200px;
    width: calc(100% - 250px);
    margin: 30px;
    padding: 0;
}

.posts-list .posts {
    margin: 10px 0;
    padding: 15px 10px;
    border-top: 1px solid #0004ff;
}

.posts-header {
    display: inline-block;
    width: 100%;
    margin: 1em 0;
}

.posts-header h2 {
    color: #fff;
}

.post-options {
    display: flex;
    flex-wrap: wrap;
}

.posts a {
    font-size: 15px;
    display: flex;
    width: 160px;
    height: 38px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #0004ff;
    justify-content: center;
    align-items: center;
}

.posts-list .posts span {
    font-weight: bold;
    color: #a2a4a9;
}

.post-title {
    font-size: 1.2em;
    padding: 10px;
    border-left: 5px solid #0004ff;
}

.post-details {
    margin-left: 20px;
}

.post-subInfo p {
    display: inline;
    font-style: italic;
    font-size: 14px;
}
.post-body {
    margin-bottom: 20px;
    padding: 50px;
    border-left: 5px solid #353535;
    background: rgba(100, 100, 100, .2);
}

.post-edit-form input[type='text'] {
    width: 300;
}

.post-edit-form textarea {
    width: 300;
    height: 100;
}

.comments-header h2 {
    margin: 1em 0 2em 0;
    text-align: center;
}

.comments-list {
    margin: 30px;
    padding: 0;
    border-top: 1px solid #ff0072;
}

.comments-list form input[type='button'] {
    width: 160px;
    height: 40px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    color: #fff;
    border: 1px solid #ff0072;
    background: rgba(0, 0, 0, 0);
}

.comments-list form input[type='submit'] {
    width: 160px;
    height: 40px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    color: #fff;
    border: 1px solid #ff0072;
    background: rgba(0, 0, 0, 0);
}

.comments-list button {
    width: 160px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #ff0072;
    background: rgba(0, 0, 0, 0);
}

.comments-list .comments {
    margin: 10px 0;
    padding: 10px;
    transition: .2s;
}

.comments-list .comments span {
    font-weight: bold;
    color: #a2a4a9;
}

.comment-title {
    font-size: 1em;
    font-weight: bold;
}

.comment-submit {
    margin: 50px 0;
}

.comment-submit input[type='submit'] {
    float: right;
}

.comment-edit-form textarea {
    width: 300;
    height: 100;
}

.NotFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}