.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.posts-list ul li {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  text-align: left;
}

.posts-list ul li span {
  color: #a2a4a9;
  font-weight: bold;
}